<div class="cuentas float">     <h1 class="tituloPrincipal">ARBEY</h1>
      
    <div class="inputs">
            <label for="fecha" class="titulo">ingrese la fecha </label><br>
            <input type="text" placeholder="31/12/2022" id="fecha">            
    </div> 
      
     

    <div class="inputs">
            <label for="ingreso" class="titulo">Cantidad de calzado </label><br>
            <input type="text" placeholder="ingrese cantidad de pares" id="ingreso">            
    </div>
      

  
      
      
    <div class="inputs">
            <label for="abono" class="titulo">Abono </label><br>
            <input type="text" placeholder="ingrese cuanto abona" id="abono">            
    </div>
      
      
    
     
      <div class="inputs">        
            <div>
                <p class="titulo">Total de calzado</p>
                <div></div> 
            </div>   
      </div>
      
      
      
        
      
      
        
    <div class="inputs">        
             <div>
                <p class="titulo">Saldo</p>
                <div></div> 
             </div>   
    </div>
     
      
    <div class="reset">             
            <p class="titulo">Colocar en ceros la cuenta</p>               
            <button type="button" class="btn btn-danger">REINICIAR</button>
            <span >Atencion borrara todos los datos guardados</span>
        </div>  
         
    
    
    </div>
    
    
    
  <div class="descripcionCliente float">informacion cliente</div>
  	<!-- body code goes here -->